body {
      font: 14px Montserrat, sans-serif;
      line-height: 1.8;
      margin: 0 auto !important;
      background-color: #e1e3dc;
      color: #000;
}

.margin {margin-bottom: 45px;}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: #e1e3dc;
}

.btn-blue {
  background-color: #31776b;
  color: #fff;
  /*border-radius: 3px;*/
}
.btn-blue:hover, .btn-blue:focus {
    background-color: #266056;
    color: #fff;
}

.panel-footer {
    padding: 15px 15px;
    border:none;
    text-align: center;
    background-color: #99ced4; 
}

.col-sm-10 {
	background-color: #99ced4;
	padding: 15px 15px;
	border-radius: 14px;
}

.progress 
{
	background: #e1e3dc; 
	border-radius: 4px; 
	height: 22px;

}

.progress-bar-custom {
	background: #31776b;
	border-radius: 4px; 
	height: 22px;
	color: #fff;
  padding: 2px 2px 2px 2px;
}


.sq-root {
  border: 1px solid gray;
  border-left: 4px solid #31776b;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.sq-title {
  font-size: 18px;
  margin-left: 5px;
  color: #00463C 
}

.sq-label {
  margin-left: 30px;
}

/*----------------------------*/

.my-rating {
    font-size: 12px;
    color: red;
}
.sq-root-cb {
  border-left: 4px solid orange;
}

.sq-title-required {
  color: red;
}


.sq-item:nth-child(1) {
  margin-bottom: 5px;
}
